.content {
  margin: 0 3rem;
}

.page {
  margin: 0 10rem;
  /* display: flex; */
  justify-content: center;
}

.navbar {
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;

  ul {
    display: flex;
    padding: 0.8rem 0;
    list-style: none;
  }

  li a,
  li button {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }

  }

  .navLogo {
    position: absolute;
    right: calc(50vw - 6rem);
    float: right;
    width: 6rem;
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  padding: 1rem 0;
}

button {
  .primary {

  }

  .secondary{
    
  }
}