#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.navbar{
  display: flex;
  flex-grow: 1;
  
}

.navbar ul {
  display: flex;
  padding: 10;
  list-style: none;
}

.navbar ul li a,
.navbar ul li button {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.4s;
  background: none;
  border: none;
  cursor: pointer;

}

.navbar ul li a:hover,
.navbar ul li button:hover {
  background: rgba(255, 255, 255, 0.25);
}