:root {
  font-family: "Grandstander", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #152F43);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 250;
}

a {
  color: #97a0fc;

  &:hover,
  &:active {
    color: #ff9c9d;
  }
}

header {
  background-color: black;
  padding-top: 1rem;
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 100;

  transition: height 0.3s;

  &.shrunk {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    height: 4.75rem;

    ul {
      padding: 0;
    }

    li a {
      font-size: 1.2rem;
    }

    .navLogo {
      width: 4rem;
      right: calc(50vw - 2rem);
    }

  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Bungee", sans-serif;
}


button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem auto;
  display: flex;

  background-color: orangered;

  &:not(:disabled):hover {
    background-color: rgb(210, 12, 12);
  }

}

.page {
  margin: 0 10rem;
  text-align: center;
}

.navbar {
  display: flex;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 3rem;

  ul {
    display: flex;
    padding: 0.8rem 0;
    list-style: none;
    justify-content: space-around;
    transition: padding 0.3s
  }

  .icon {
    display: none;
  }

  li a,
  li button {
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: inherit;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    background: none;
    border: none;
    cursor: pointer;

    &.active {}

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

  }

  .navLogo {
    position: absolute;
    right: calc(50vw - 3.5rem);
    float: right;
    width: 7rem;
    transition: width 0.3s, right 0.3s;
  }
}

.link-button {
  display: inline-block;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem auto;
  background-color: orangered;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: rgb(210, 12, 12);
  }

  &:active {
    background-color: rgb(150, 9, 9);
  }

  &.centered {
    display: flex;
    justify-self: center;
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
  text-align: left;

  img {
    width: 100%;
    height: 100%;
  }

  h3 {
    margin: 0;
  }
}

.three-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem 0;
}

.rect-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  &.bordered {
    border: 2px solid white;
    /* source slice width outset repeat; */
    /* border-image: url('../assets/border.png') 15 0 0 fill; */
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.square-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  &.bordered {
    border: 2px solid white;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


.trailer {
  margin: 0rem -10rem;
  background-image: url('../assets/level1_entrance.png');
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid white;

  .container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    img {
      width: 40%;
    }

    button {
      padding: 0.8rem 3.5rem;
    }

    .two-col-grid {
      margin: 0 13rem;
    }
  }

  .trailer-video {
    width: 80%;
  }
}

.main-img {
  transition: opacity 0.2s;

  &.fade-out {
    opacity: 0;
  }
}

.game-images {
  .img-selector {
    margin: 1rem 0;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;

    .selector-img {
      width: 2rem;
      aspect-ratio: 16 / 9;
      flex: 1;
    }

    img {
      transition: border 0.15s;
      border: 2px solid white;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;

      &:hover {
        border: 2px solid orangered;
        position: sticky;
        z-index: 10;
      }
    }
  }
}

.feature {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: 1.7fr 1fr;
  text-align: left;
  grid-template-areas:
    "img text";

  .feature-img {
    grid-area: img;
  }

  .rect-img {
    display: flex;
    align-self: center;
  }

  &.inverted {
    grid-template-columns: 1fr 1.7fr;
    grid-template-areas:
      "text img";
  }

  .feature-text {
    margin: 20% 0;
    background-color: orangered;
    padding-left: 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    border: 3px solid rgba(140, 45, 11, 0.59);
    border-left: none;
    z-index: -1;
    align-content: center;
    grid-area: text;

    &.inverted {
      z-index: -1;
      border-radius: 0.8rem 0 0 0.8rem;
      border-right: none;
    }

    p,
    h3 {
      margin: 0.5rem;
    }
  }
}

.teammate {
  &:hover {
    cursor: pointer;
  }

  .teammate-modal {
    overflow: hidden;
    width: 60%;
    aspect-ratio: 2 / 1;
    background-color: #102536;


    .modal-close {
      position: absolute;
      top: 0.7rem;
      margin: 0;
      right: 0.7rem;
      background: none;
      padding: 0;
      ;
      font-size: 2.6rem;

      &:hover {
        color: orangered;
      }
    }

    .editor-note {
      font-style: italic;
      color: rgb(255, 255, 255, 0.7);
    }
  }
}

.overlay {
  margin: 0rem -10rem;
  background-image: url('../assets/beauty4.png');
  background-size: cover;
  background-position: center;

  border-bottom: 2px solid white;
  height: 45rem;
  display: flex;

  .container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    img {
      width: 20rem;
      height: 20rem;
      align-self: center;
    }

  }
}


.blog {
  margin: 0rem -10rem;
  background-image: url('../assets/beauty3.png');
  background-size: cover;
  background-position: center;

  border-bottom: 2px solid white;
  height: 45rem;
  display: flex;
}

@media screen and (max-width: 1200px) {
  header {
    &.responsive {
      transition: height 0.15s;
      height: 20rem;

      &.shrunk {
        height: 17rem;
      }
    }
  }

  .navbar {
    ul {
      display: block;
      opacity: 0;

      li a {
        display: none;
      }
    }

    .icon {
      display: block;
      width: 2rem;
      height: 2rem;
      margin-left: auto;
      background-size: cover;
      background-position: center;
      background-image: url('../assets/purple_burger.png');

      &:hover {
        background-image: url('../assets/peach_burger.png');
        cursor: pointer;
      }
    }

    &.responsive {
      ul {
        display: block;
        opacity: 1;
        transition: opacity 0.6s;
        flex-direction: column;
        left: 0;
        width: 100%;
        background-color: black;
      }

      .navLogo {
        display: none;
      }

      li a {
        display: block;
        padding: 1rem;
        float: none;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .page {
    margin: 0 2rem;
  }

  .trailer,
  .overlay,
  .blog {
    margin: 0 -2rem;
  }

  .three-col-grid {
    grid-template-columns: 1fr 1fr;
  }

  .teammate {
    .two-col-grid {
      grid-template-columns: 1fr;
    }
    .teammate-modal{
      overflow: auto;
      aspect-ratio: 1 / 2;
      height: 60%;
    }
  }

  .feature {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img "
      "text";
    text-align: center;
    gap: 0;

    &.inverted {
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "text";
    }

    .feature-text {
      margin: auto;
      border-radius: 0 0 0.8rem 0.8rem;
      padding: 1rem;
      width: 70%;

      &.inverted {
        border-radius: 0 0 0.8rem 0.8rem;
      }
    }
  }
}