:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #152F43, #19539A);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 250;
}

header {
  background-color: black;
  padding: 1rem 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem auto;
  display: flex;

  background-color: orange;

  &:not(:disabled):hover {
    background-color: orangered;
  }

}

.page {
  margin: 0 10rem;
  text-align: center;
}

.navbar {
  display: flex;
  flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;

  ul {
    display: flex;
    padding: 0.8rem 0;
    list-style: none;
    justify-content: space-around;
  }

  li a,
  li button {
    text-decoration: none;
    color: inherit;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: rgba(255, 166, 0, 0.504);
    }

  }

  .navLogo {
    position: absolute;
    right: calc(50vw - 6rem);
    float: right;
    width: 6rem;
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 1rem;
  text-align: left;

  img {
    width: 100%;
    height: 100%;
  }
}

.three-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem 0;
}

.blog-img {
  border: 2px solid white;
  width: 100%;
}

.trailer {
  margin: 0rem -13rem;
  background-image: url('src/assets/level1_entrance.png');
  border-bottom: 2px solid white;

  .container {
    width: 100%;
    background-color: rgba(0,0,0, 0.5);

  img {
    width: 40%;
  }

  button {
    padding: 0.8rem 3.5rem;
  }

  .two-col-grid {
    margin: 0 13rem;
  }
}
}

.game-images {
  img {
    border: 2px solid white;
  }

  .img-selector {
    padding: 1rem 0;
    border-radius: 0.8rem;

    img {
      width: 10%;
    }
  }
}

.feature {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: 1.7fr 1fr;
  text-align: left;

  &.inverted {
    grid-template-columns: 1fr 1.7fr;
  }

  img {
    border: 2px solid white;
    width: 100%;
  }

  .feature-text {
    margin: 20% 0;
    background-color: orange;
    padding-left: 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    z-index: -1;
    align-content: center;

    &.inverted {
      border-radius: 0.8rem 0 0 0.8rem;
    }
  }
}

.overlay {
  margin: 0rem -13rem;
  background-image: url('../assets/beauty4.png');

  border-bottom: 2px solid white;
  height: 45rem;
  display: flex;

  .container {
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    
    img {
      width: 20rem;
      height: 20rem;
      align-self: center;
    }

  }

}